body {
  background-color: #999;
  font-family: Optima, Rockwell, sans-serif;
}

.jumbotron {
  background-color: #AAA;
  color: white
}

.col-md-1 {
  font-size: 14pt;
  color: white;
}

h1 {
  color: white;
}

p {
  color: white;
}

.btn-group button {
  background-color: black
  color: white;
}
