body {
  background-color: #C86000;
  font-family: Optima, Rockwell, sans-serif;
}

.jumbotron {
  margin-top: 50px;
  background-color: #FFC070;
  color: white
}

.col-md-1 {
  font-size: 14pt;
  color: white;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #000;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small {
  color: #000;
}

p {
  color: #000;
}

span {
  color: #000;
}

.tiny {
  font-size: 8pt;
  color: #000;
}

a {
  color: #FFC070;
}

a:hover {
  color: #FFC080;
}

a:visited {
  color: #FFC090;
}

.middle-bit {
    border-top: 2px solid #FFC070;
    border-bottom: 2px solid #FFC070;
    border-left: 0px;
    border-right: 0px;
    color: #EEE;
}

.page-header {
  color: white;
  margin-bottom: 5%;
  border-bottom: 2px solid #FFC070;
  width: 85%;
}

.navbar-default {
  background-color: #C86000;
  border-color: #C86000;
  display: inline;
}

.navbar-default .navbar-nav>li>a {
  color: black;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  background-color: #000;
  color: #fff;
}

.menu {
  background-color: #FFC070;
  width: 85%;
  padding-right: 5%;
  padding-left: 5%;
}

.nav navbar-nav navbar-right {
  margin-right: 20px;
  margin-left: 20px;
  display: inline;
}

nav{ 
    white-space: nowrap;
    width: 100%;
}

ul{ 
    position: relative;
    display: inline-block;
    list-style: none;
    width: fixed;
    padding-right; 15px
}

li{ 
    position: relative;
    display: inline-block;
    width: fixed;
    text-align: center;
    padding-right: 15px;
}
