body {
  background-color: #0066FF;
  font-family: Rockwell, Optima, sans-serif;
}

.jumbotron {
  background-color: #003;
  text-color: white
}

.col-md-1 {
  font-size: 14pt;
  color: white;
}

.h1 {
  color: white;
}

.p {
  color: white;
}
