body {
  background-color: #C86000;
  font-family: Optima, Rockwell, sans-serif;
}

.jumbotron {
  background-color: #FFC070;
  color: white
}

.col-md-1 {
  font-size: 14pt;
  color: white;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #000;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small {
  color: #000;
}

p {
  color: #000;
}

span {
  color: #000;
}

.tiny {
  font-size: 8pt;
  color: #000;
}

a {
  color: #FFC070;
}

a:hover {
  color: #FFC070;
}

a:visited {
  color: #FFC070;
}

.middle-bit {
    border-top: 2px solid #FFC070;
    border-bottom: 2px solid #FFC070;
    border-left: 0px;
    border-right: 0px;
    color: #EEE;
}

.page-header {
  color: white;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-right: 100px;
  margin-left: 100px;
  border-bottom: 2px solid #FFC070;
}
